.section-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 5rem;
    height: 100svh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.section-hero .subtitle {
    color: white;
}

.section-hero-title.title {
    font-size: 5rem;
    color: var(--color-beige);
    margin-top: .5rem;
    text-transform: capitalize;
}

@media (max-width: 1024px) {
    .section-hero-title.title {
        font-size: 4rem;
    }    
}

@media (max-width: 768px) {
    .section-hero {
        padding: 0 2rem;        
        padding-top: 3rem;
    }
    .section-hero-title.title {
        font-size: 3.5rem;    }
}