.section-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 5rem;
    height: 100svh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.section-hero .subtitle {
    color: white;
}

.section-hero-title.title {
    font-size: 5rem;
    color: var(--color-beige);
    margin-top: .5rem;
    text-transform: capitalize;
}