.ourmenu {
    background-color: var(--color-peach);
    text-align: center;
    padding-top: 8rem;
}

.ourmenu .title {
    font-size: 5.2rem;
}

.ourmenu > p {
    font-family: var(--font-roboto);
    font-weight: 300;
    font-size: 1.25rem;
    width: 65rem;
    margin: 0 auto;
    margin-top: 1rem;
    line-height: 1.7rem;
}