.swiper {
    width: 100%;
    height: 100svh;    
    color: black;
    font-size: 5rem;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;        
}

.char {
    display: inline-block;
    transform: translateY(115px);
    transition: transform .5s;
}

.swiperHero-spinners {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: 2;
    transform: translateX(-100%);   
    display: flex;
    gap: .8rem;
}

.swiper-button-prev, .swiper-button-next {
    top: 90%;
    color: var(--color-beige);    
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 1.5rem;
}

.swiper-button-next {
    left: 6rem;
}

.swiper-button-prev {
    left: 3rem;
}

@media (max-width: 1024px) {
    .swiper-button-prev {
        left: 2rem;
    }
}